:root {
    --background-color: #FFD900;
    --section-color-1: #514988;
    --section-color-2: #FFFFFF;
    --font-color-1: #F3C61F;
    --font-color-2: #E33881;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFD900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 15px;
}

header img {
    width: 150px;
}

#section-1 {
    display: flex;
    margin-top: 5px;
    flex-wrap: nowrap;
    justify-content: center;
}

#description {
    text-align: center;
    background-color: #514988;
    color: white;
    width: 45vw;
    align-items: center;
}

.container {
    width: 55vw;
    padding: 0 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#titulo {
    margin: 31px 53px 0 43px;
    color: #F3C61F;
    font-size: 50px;
    font-weight: 700;
}

#date {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
}

#content {
    font-size: 22px;
    margin-top: 60px;
    padding: 0 45px 80px 49px;
    width: 500px;
    font-weight: 400;
}

#countdown {
    display: flex;
    text-align: center;
    background-color: white;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.cd-item {
    color: #514988;
    font-size: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#subtitulo-1 {
    display: flex;
    background-color: white;
    color: #E33881;
    padding-left: 15px;
    padding-bottom: 15px;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
}

#video {
    background-color: white;
    height: 10px;
}

video {
    width: 100%;
}

#comprar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    padding-bottom: 38px;
    align-items: center;
}

#subtitulo-2 {
    color: #F3C61F;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}

#tickets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.ticket {
    width: 20%;
}

.ticket:hover {
    cursor: pointer;
}

button {
    background-color: #514988;
    border-radius: 10px;
    border-style: none;
    color: white;
    width: 500px;
    height: 120px;
    font-size: 42px;
    font-weight: 700;
    margin: 0 60px;
}

button:hover {
    cursor: pointer;
    color: #FFD900
}